# Environment / Secret files — NEVER commit these!
.env
*.env
keys.env

# Database
*.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Node
node_modules/
.npm/

# OS
.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Node
node_modules/
.npm/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
